{% extends 'base.html' %}

{% block content %}
<section id="contact_cont">
    <div class="contact-container_cont">
        <div class="contact-card_cont">
            <h2 class="section-title_cont">Контакты</h2>
            <div class="contact-content_cont">
                <div class="contact-info_cont">
                    <p class="contact-description_cont">Свяжитесь со мной, чтобы обсудить ваш проект:</p>
                    <ul class="contact-list_cont">
                        <li class="contact-item_cont">
                            <i class="fab fa-telegram-plane contact-icon_cont"></i>
                            <span>Telegram: </span>
                            <a href="https://t.me/eshmerko" class="contact-link_cont"> @eshmerko</a>
                        </li>
                        <li class="contact-item_cont">
                            <i class="fas fa-phone-alt contact-icon_cont"></i>
                            <span>Телефон: </span>
                            <a href="tel:+375447777710" class="contact-link_cont"> +375 44 7777710</a>
                        </li>
                    </ul>
                </div>
                
                <div class="map-container_cont">
                    <iframe 
                        src="https://yandex.ru/map-widget/v1/?ll=28.150400%2C53.512200&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjY0ODA1MhJI0KDQvtGB0YHQuNGPLCDQkdC10LvQsNGA0YPRgdGM0LrQsCDQk9C-0YDQvtC70YwsINCc0LDRgNC40L3QuNC60LAg0JPQvtGA0L7Qu9GMIgoN7dCqQhXq2RlC&z=13.5" 
                        width="100%" 
                        height="400" 
                        frameborder="0" 
                        allowfullscreen="true" 
                        style="position:relative;">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Подключение Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% endblock %}