{% extends 'base.html' %}
{% load static %}

{% block schema_org %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ article.title }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author.get_full_name|default:article.author.username }}"
  },
  "datePublished": "{{ article.created_at|date:'Y-m-d' }}",
  "dateModified": "{{ article.updated_at|date:'Y-m-d' }}",
  "description": "{{ article.meta_description|default:article.excerpt }}",
  "image": "{% if article.image %}{{ article.image.url }}{% else %}{% static 'images/default-article-image.jpg' %}{% endif %}",
  "publisher": {
    "@type": "Organization",
    "name": "eshmerko.com",
    "logo": {
      "@type": "ImageObject",
      "url": "{% static 'images/logo.png' %}"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ request.build_absolute_uri }}"
  }
}
</script>
{% endblock %}

{% block content %}
<div class="blog-article">
    <div class="article-content">
        {{ article.content|safe }}  <!-- Обязательно используйте фильтр safe -->
    </div>
</div>

    <!-- Подключение кастомных стилей -->
    <link rel="stylesheet" href="{% static 'css/article_styles.css' %}">
{% endblock %}